<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612214610670-7lfhrkjt9gut2rruggebten1jjrhpcvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612214610670-7lfhrkjt9gut2rruggebten1jjrhpcvg</string>
	<key>API_KEY</key>
	<string>AIzaSyBrvPhu3aFcpm_i-zGd3Q6dl8a5jcaENJw</string>
	<key>GCM_SENDER_ID</key>
	<string>612214610670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oeki.buysell</string>
	<key>PROJECT_ID</key>
	<string>oeki-3ca0b</string>
	<key>STORAGE_BUCKET</key>
	<string>oeki-3ca0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612214610670:ios:0e9a44c357f1ad5843f1ff</string>
	<key>DATABASE_URL</key>
	<string>https://oeki-3ca0b-default-rtdb.firebaseio.com</string>
</dict>
</plist>